/*
 * Main custom css file
 */
@import "compass";

$frame-width: 1000px;
$sidebar-width: $frame-width * 0.2 - 15px;
$content-width: $frame-width * 0.8;

$header-height: 8em;
$spacer-height: 1em;

/* Kuler Colors */
$kuler-blue: #0967A0;
$kuler-blue-dark: #053E60;
$kuler-blue-dark2: #042E47;
$kuler-blue-dark3: #032133;
$kuler-blue-light: #1A76AC;
$kuler-red-light: #EC191D;

/* Title */
$color-header-title: white;
$color-header-bg: $kuler-red-light;

/* Sidebar */
$color-sidebar-bg: $kuler-blue-dark;
$color-sidebar-bg: #E5E5E5;
$color-sidebar-bg-hover: $kuler-blue-dark2;
$color-sidebar-vert-line: #888;
$color-sidebar-text: #111;
$color-sidebar-link: $color-sidebar-text;
$color-sidebar-link-hover: #FFF;
$color-sidebar-link-active: $color-sidebar-text;

/* Images */
$color-image-bg: #EEE;
$color-image-border: #555;
$color-image-div-border: #666;

/* Main */
$color-page-bg: #AAA;
$color-bg-dark: #222;
$color-bg-light: #F9F9F9;
$color-frame-shadow: #222;
$color-link: #222;
$color-link-hover: #CCC;

/* General */
html, body {
	background-image: image-url("triangular.png");
	background-size: 40px;
 	height: 100%;
}

p {
	text-indent: 2em;
}

a, a:link, a:visited {
	color: $color-link;
	text-decoration: none;
}

a:hover, a:active {
	color: $color-link-hover;
}

.content > h1 {
	margin-top: 0;
}

.mainframe {
	width: $frame-width;
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

/* Header */
.headerframe {
	position: relative;
	z-index: 100;
	height: $header-height;
	color: $color-header-title;
	@include background-image(linear-gradient($color-header-bg, darken($color-header-bg, 20%) 70%, darken($color-header-bg, 40%)));
}

.header {
	padding: 20px 20px 0 80px;
	line-height: 1em;
	text-shadow: 2px 2px 6px black;
}

.htitle, .htitle:link, .htitle:active, .htitle:visited, .htitle:hover {
	color: $color-header-title;
	font-weight: normal;
}

.htagline {
	color: white;
	font-weight: normal;
}

/* Sidebar */
.sidebar {
	width: $sidebar-width;
	color: $color-sidebar-text;
	float: left;

	> ul {
		> li {
			list-style-type: none;
			margin: 0;
			border: 1px solid $color-sidebar-bg;
			> a {
				width: $sidebar-width - 9px;
				color: $color-sidebar-link;
				padding: 4px 0 4px 8px;
				display: block;
			}
			> a:hover {
				color: $color-sidebar-link-hover;
				background-color: $color-sidebar-bg-hover;
				font-weight: normal;
			}
			> .active {
				color: $color-sidebar-link-active;
				font-weight: bold;
			}
		}
		padding: 0;
		margin: 0;
	}
}

/* Main content */
.contentframebackground {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: $frame-width;
	box-shadow: 0 0 10px 1px $color-frame-shadow;
	background-color: $color-bg-light;

	> .sidebarbackground {
		width: $sidebar-width;
		height: 100%;
		background-color: $color-sidebar-bg;
		border-right: solid 1px $color-sidebar-vert-line;
	}
}

.spacerframe {
	position: relative;
	z-index: 100;
	height: $spacer-height;
	width: 100%;
}

.contentframe {
	position: relative;
	z-index: 100;
}

.content {
	height: 100%;
	width: $content-width;
	margin: 0 0 0 auto;
	padding: 0 3px 3px 0;
}

div.img {
	margin: 5px;
	padding: 2px;
	border: solid 1px $color-image-div-border;
	background-color: $color-image-bg;

	> img {
		border: solid 1px $color-image-border;
	}

	> p {
		margin: 3px 3px 0 3px;
		padding: 0;
		text-indent: 0;
	}

	&.left {
		float: left;
		margin-right: 10px;
	}
	&.right {
		float: right;
		margin-left: 10px;
	}
}

.roundsmall {
	border-radius: 2px;
}

.roundlarge {
	border-radius: 4px;
}